html{

  scroll-behavior: smooth;
  box-sizing: 0 !important;
  padding: 0 !important; 
  margin: 0 !important;

}
.navbar {
 
  background:transparent;

}
  
.navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }


.header__menu ul li.active a::after {
      opacity: 1;
      height: 50%;
}
#main-nav ul li::after{

      position: absolute;
      left: 0;
      bottom: 1px;
      width: 100%;
      background: violet;
      content: "";
      z-index: -1;
      transition: all .3s;
    }

h5{

  font-size: 17px;
}

.nav-link{

  font-size: 15px;
}


li a:after {
  content: '';
  display: block;
  margin-top: -10px;
  height: 15px;
  width: 0;
  background: transparent;
  transition: width .5s ease, #418ebb .5s ease;
  transition: 0.5s;
}
li a:hover:after {
  width: 100%;
  background: rgb(74, 157, 206);
  transition: 0.5s;
}


p, h1, h2, h3, li{

  font-family: 'Open Sans', sans-serif;
}
