html{

  scroll-behavior: smooth;
}

.navbar {
 
  background:#AEE4ED
}

.nav-link{

  font-size: 16px;
  font-weight: 600;
}


li a:after {
    content: '';
    display: block;
    margin-top: -10px;
    height: 15px;
    width: 0;
    background: transparent;
    transition: width .5s ease, #418ebb .5s ease;
    transition: 0.5s;
}
li a:hover:after {
    width: 100%;
    background: rgb(74, 157, 206);
    transition: 0.5s;
}

#showcase{

  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/accueil.png);
  background-size: 100%;
  background-position: top right;
  background-repeat: no-repeat;
}


.accueil{

  height: 75vh;
}


/*------ANIMATION----------*/

#goute1{
  
      animation: goute1 ease 2s infinite ease;
      transform-box: fill-box;
  
  }

  @keyframes goute1{
    
    from{
        opacity: 1;
        transform: translateY(-80%);
    
    }to{
      transform: translateY(90%);
        opacity: 1;
    }
}

#goute2{
  
      animation: goute2 2.5s infinite ease;
      transform-box: fill-box;
  }
  
      @keyframes goute2{
  
          from{
              opacity: 1;
              transform: translateY(-80%);
          
          }to{
            transform: translateY(100%);
              opacity: 1;
          }
      }
  
      #goute3{
  
        animation: goute3  1s infinite ease;
        transform-box: fill-box;
        transform-origin: bottom;
    }
    
        @keyframes goute3{
    
            from{
                opacity: 1;
                transform: translateY(-20%);
            
            }to{
              transform: translateY(90%);
                opacity: 1;
            }
        }


 #goute4{
  
          animation: goute4 2s infinite ease;
          transform-box: fill-box;
          transform-origin: bottom;
      }
      
          @keyframes goute4{
      
              from{
                  opacity: 1;
                  transform: translateY(-20%);
              
              }to{
                transform: translateY(90%);
                  opacity: 1;
              }
          }



#bras{
  
              animation: mains 2s infinite ease alternate;
              transform-box: fill-box;
              transform-origin: left;
            }
            
              @keyframes mains{
            
                  from{
                      opacity: 1;
                      transform: rotate(0deg);
                  
                  }to{
                    transform: rotate(30deg);
                      opacity: 1;
                  }
              }

#gant-jaune{
  
                animation: gant-jaune 2s infinite ease alternate;
                transform-box: fill-box;
                transform-origin: right;
              }
              
                @keyframes gant-jaune{
              
                    from{
                        opacity: 1;
                        transform: rotate(0deg);
                    
                    }to{
                      transform: rotate(20deg);
                        opacity: 1;
                    }
                }
@keyframes machine {
                  0% {
                    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
                            transform: translateX(0) translateZ(0) rotateY(0);
                    -webkit-transform-origin: 100% 50%;
                            transform-origin: 100% 50%;
                  }
                  100% {
                    -webkit-transform: translateX(100%) translateZ(160px) rotateY(-180deg);
                            transform: translateX(100%) translateZ(160px) rotateY(-180deg);
                    -webkit-transform-origin: 0% 50%;
                            transform-origin: 0% 50%;
                  }
                }

#picto {
                  -webkit-animation: picto 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	                animation: picto 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        
                }

@keyframes picto{

  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-90px);
  }
}
@keyframes picto {
  0% {
    -webkit-transform: translateY(-10);
            transform: translateY(-10);
  }
  100% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
}


  #bouton{

    animation: bouton 3s ease infinite alternate;
}

@keyframes bouton{

    from{
        fill: rgb(231, 31, 31);
    }to{fill: rgb(103, 189, 63);

        }
    
}

#flaque-eau{
  
  animation: flaque-eau ease 3s infinite alternate;
  transform-box: fill-box;

}

@keyframes flaque-eau{

  from{
      opacity: 1;
      transform: scale(1.2);
  
  }to{
      transform: scale(1.5);
      opacity: 0.7;
  }
}


#bras-homme{
  
                  animation: bras-homme 2s infinite ease alternate;
                  transform-box: fill-box;
                  transform-origin: top;
                }
                
                  @keyframes bras-homme{
                
                      from{
                          opacity: 1;
                          transform: rotate(0deg);
                      
                      }to{
                        transform: rotate(-5deg);
                          opacity: 1;
                      }
                  }


  #tuyau-bleu, #tuyau-rouge {
                    stroke-dasharray: 1070;
                    stroke-dashoffset: 1000;
                    animation: dash 5s linear forwards;
                  }
                  
                  @keyframes dash {
                    to {
                      stroke-dashoffset: 0;
                    }
                  }
/*------FIN ANIMATION----------*/

  p, h1, h2, h3, li{

    font-family: 'Lato', sans-serif;
  }

  .card{
    border: 2px solid rgb(255, 255, 255);
    border-radius:30px;
    transition: 1.3s;
  }

  .btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;
    text-decoration: none;

}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-3 {
  background-image: linear-gradient(to right, #69a6d8, #7d7ed3, rgb(122, 182, 231), rgb(61, 109, 212));
  box-shadow: 0 4px 15px 0 rgba(119, 120, 196, 0.75);
}

@media screen and (min-width:1200px){

  .propos{

    padding: 110px;

}
}


@media screen and (max-width:1200px){


#showcase{

    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/accueil.png);
    background-size: 280%;
    background-position: top right;
    background-repeat: no-repeat;
  }

}
@media screen and (max-width:900px){


  .illustration-accueil{

    visibility: hidden;
  }
}

#compteur{
  margin:auto;
  font-size: 80px;
}

span#compteur.end{

  font-size: 80px;
  font-weight: 600;
  color: rgb(150, 175, 160);
}